@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

h1 {
    margin: 0px;
}

.dream-car-page-bg-container {
    background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/dream-car-bg.png");
    background-size: cover;
    height: 100vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.dream-car-page-container {
    width: 420px;
    text-align: right;
    padding-right: 14px;
}

.dream-car-page-heading {
    color: #ffffff;
    font-family: "Roboto";
}

.dream-car-page-description {
    color: #ffffff;
    font-family: "Roboto";
}

.dream-car-page-speedometer {
    height: 90px;
    width: 70px;
}